blinker==1.8.2
certifi==2024.6.2
charset-normalizer==3.3.2
click==8.1.7
Flask==3.0.3
gunicorn==22.0.0
idna==3.7
importlib_metadata==7.1.0
itsdangerous==2.2.0
Jinja2==3.1.4
kafka-python==2.0.2
MarkupSafe==2.1.5
numpy==1.26.4
packaging==24.0
pandas==2.2.2
prometheus_client==0.20.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
requests==2.32.3
schedule==1.2.2
six==1.16.0
tzdata==2024.1
urllib3==2.2.1
Werkzeug==3.0.3
whitenoise==6.6.0
zipp==3.19.1
